<style>
  .search-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .search-bar {
    min-width: 200px;
    margin-right: 10%;
  }
/*
  .customrow:hover {
    background-color: #e3fee0;
    cursor: pointer;
  }
*/
  .col-sm {
    border: .3px solid;
  }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.row').click(function () {
            //get le id de l'objet cliqué et envoyer à appointment creator
            alert($(this).text())
        });
    });
</script>

