<style>
  .search-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .search-bar {
    min-width: 200px;
    margin-right: 10%;
  }
  table .active {
    background-color: #9c9 !important;
  }
/*
  .customrow:hover {
    background-color: #e3fee0;
    cursor: pointer;
  }
*/
  .col-sm {
    border: .3px solid;
  }
</style>
<script type="text/javascript">
    function addRowHandlers() {
        var table = document.getElementById("tbl_customers");
        var rows = table.getElementsByTagName("tr");
        for (i = 1; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler =
                function(row) {
                    return function() {
                        $(this).addClass('active').siblings().removeClass('active');
                    };
                };

            currentRow.onclick = createClickHandler(currentRow);
        }
    }
    window.onload = addRowHandlers();
</script>
